<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="be.gershon_lehrer.mybooksathome">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/photo_of_books_by_gl"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controller.BarCodeScannerActivity"/>
        <activity android:name=".controller.AddNewBookActivity"/>
        <activity android:name=".controller.PreviewGoogleBookWebviewActivity"
                  android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".controller.ShowBookSearchDialogActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"></activity>
    </application>

</manifest>